<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glaspace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gla"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gla"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Events"></activity>
        <activity android:name=".Sports" />
        <activity android:name=".PreviousYearPaper" />
        <activity android:name=".StudyMaterial" />
        <activity android:name=".OptionIcon" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>